#canvas {
    height: 30rem
}

.container{
    display: flex;
    width: 95%;
    margin: 0 auto;
}
.left{
    width: 8em;
}
.right{
    margin-top: 1em;
}

.playersHeading{
    margin-top: 2em;
    margin-right: 3em;
}